 <?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu_lidar">
    <!-- Gazebo plugin for IMU -->
    <gazebo reference="imu_frame">
        <sensor name="my_imu" type="imu">
            <always_on>true</always_on>
            <plugin name="my_imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <topicName>$(arg robot_namespace)/imu</topicName>
                <updateRate>5</updateRate>
                <frameName>imu_frame</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>